<!DOCTYPE html>
<html lang="en"	xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
       <title>DentalSoft</title>
	   <link rel="stylesheet" th:href="@{/css/custom.css}">
   	   <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
      <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
<div class="wrapper">
	  <div class="body-overlay"></div>
	 	<div id="sidebar">
	    <div class="sidebar-header">
	 	   <div th:object="${admin}" style="display:grid;justify-content:center;align-items:center;text-align:center">
	 	   		<img th:src="@{'/img/'+${admin.foto}}" style="margin: 0 auto; border-radius: 50%; width: 120px; height: 120px;"/>
		   		<h3><br><span th:text="${admin.nombre}"></span></h3><br>
		   <a th:href="@{/admin/edit/{documento}(documento=${admin.documento})}" class="btn btn-success">Actualizar Datos</a>
		   </div>
		</div>
		<ul class="list-unstyled component m-0">
		  <li class="active">
		  <a href="#homeSubmenu6" class="list-unstyled component m-0">
		  <i class="material-icons">groups</i>Mis Pacientes
		  </a>
		  </li>
		  <li class="dropdown">
		  <a th:href="@{/producto/list}" class="dashboard"><i class="material-icons">calendar_month</i>Agenda</a>
		  </li>
		  
		  <li class="dropdown">
		  <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" 
		  class="dropdown-toggle">
		  <i class="material-icons">payments</i>Administración
		  </a>
		  <ul class="collapse list-unstyled menu" id="homeSubmenu1">
			 <li><a href="#"><i class="material-icons">receipt_long</i>Informes</a></li>
		  </ul>
		  </li>
		  <li class="dropdown">
		  <a th:href="@{/pqrs/list}" class="list-unstyled component m-0">
		  <i class="material-icons">vaccines</i>Mis Odontólogos
		  </a>
		  </li>		
		</ul>
	 </div>
   
      <div id="content">
		  <div class="top-navbar">
		     <div class="xd-topbar">
			     <div class="row">
				     <div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
					    <div class="xp-menubar">
						    <span class="material-icons text-white">signal_cellular_alt</span>
						</div>
					 </div>
					 
					 <div class="col-md-5 col-lg-3 order-3 order-md-2">
					 </div>
					 
					 
					 <div class="col-10 col-md-6 col-lg-8 order-1 order-md-3">
					     <div class="xp-profilebar text-right">
						    <nav class="navbar p-0">
							   <ul class="nav navbar-nav flex-row ml-auto">
							   <li class="dropdown nav-item">
							     <a class="nav-link" href="#" data-toggle="dropdown">
								  <i class="material-icons">power_settings_new</i>
								  <span class="xp-user-live"></span>
								 </a>
								  <ul class="dropdown-menu small-menu">
									 <li><a th:href="@{/admin/logout}">
									 <span class="material-icons">logout</span>
									 Cerrar sesión
									 </a></li>
								  </ul>
							   </li>
							   </ul>
							</nav>
						 </div>
					 </div>
					 
				 </div>
				 <div class="xp-breadcrumbbar text-center">
				    <span class="page-title" >MANRIQUE Y SOTO CENTRO ODONTOLÓGICO</span>
				 </div>
				 <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${accion != null }">
					<label th:text="${accion}"></label>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    						<span aria-hidden="true">&times;</span>
						</button>
				 </div>
			 </div>
		  </div>
		     
		      <div class="main-content">
			     <div class="row">
				    <div class="col-md-12" >
					   <div class="table-wrapper">
					     
					   <div class="table-title" >
					     <div class="row">
						     <div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
							    <h2 class="ml-lg-2">Gestionar pacientes</h2>
							 </div>
							 <div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center">
							   <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal">
							   <i class="material-icons">&#xE147;</i>
							   <span>Agregar paciente</span>
							   </a>
							 </div>
					     </div>
					   </div>
					   <br>
					   <input type="text" id="search-input" placeholder="Buscar"><br><br>
					   <table class="table table-striped table-hover" id="tablax">
					      <thead>
						     <tr>
							 <th style="font-weight:bold">Tipo Documento</th>
							 <th style="font-weight:bold">Nro. Documento</th>
							 <th style="font-weight:bold">Nombre</th>
							 <th style="font-weight:bold">Teléfono</th>
							 <th style="font-weight:bold">Acciones</th>
							 </tr>
						  </thead>
						  
						  <tbody th:each="paci: ${paciente}">
						     <tr>
							 <td th:text="${paci.tipodoc}"></td>
							 <td class="documento" th:text="${paci.documento}"></td>
							 <td th:text="${paci.nombre}"></td>
							 <td th:text="${paci.celular}"></td>
							 <td>
							    <a th:href="@{/paciente/edit/{documento}(documento=${paci.documento})}">
							   <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
							   </a>
							   <a href="#deleteEmployeeModal" class="delete" data-toggle="modal">
							   <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
							   </a>
							 </tr>
						  </tbody>
					   </table>
					   <div class="clearfix">
					   </div>
					</div>	
					</div>
					
    <div class="modal fade" tabindex="-1" id="deleteEmployeeModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar Paciente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <label>¿Quieres eliminar este paciente?</label>
      <div style="text-align:center;color:white"><br>
      <a id="confirmar" class="btn btn-success">Confirmar</a>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      
      </div>
      </div>
      </div>
     </div> 
     </div>
     
	<form th:action="@{/paciente/save}" method="post" enctype="multipart/form-data">			
	<div class="modal fade" tabindex="-1" id="addEmployeeModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar paciente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="form-group">
		    <label>Tipo de documento </label>
		    <select class="input-select" type="number" name="tipodoc">
		    <option value="" style="text-align: center">--- Seleccione su tipo de documento ---</option>
		    <div th:each="tipo: ${tipoDoc}">
				<option th:value="${tipo.tipo}" th:text="${tipo.tipo}"></option>
			</div>
			</select>
		</div>
        <div class="form-group">
		    <label>Número de Documento</label>
			<input name="documento" type="text" placeholder="No. documento" class="form-control" required/>
		</div>
		<div class="form-group">
		    <label>Nombre</label>
			<input name="nombre" type="text" placeholder="Nombre" class="form-control" required/>
		</div>
		<div class="form-group">
		<label>Sexo </label>
		    <select class="input-select" type="number" name="sexo">
		    <option value="" style="text-align: center">--- Seleccione su sexo ---</option>
		    <div th:each="sexo: ${sexo}">
				<option th:value="${sexo.sexo}" th:text="${sexo.sexo}"></option>
			</div>
			</select>
		</div>
		<div class="form-group">
		<label>Estado Civil </label>
		  <select class="input-select" type="number" name="estadocivil">
		  <option value="" style="text-align: center">--- Seleccione su estado civil ---</option>
		    <div th:each="civil: ${estadocivil}">
				<option th:value="${civil.estado}" th:text="${civil.estado}"></option>
			</div>
		  </select>
		 </div>
		 <div class="form-group">
		<label>País de nacimiento </label>
		  <select class="input-select" type="number" name="paisnac">
		  <option value="" style="text-align: center">--- Seleccione su país de nacimiento ---</option>
		    <div th:each="pais: ${pais}">
				<option th:value="${pais.nombre}" th:text="${pais.nombre}"></option>
			</div>
		  </select>
		  </div>
		  <div class="form-group">
		    <label>Ciudad de nacimiento</label>
			<input name="ciudadnac" type="text" placeholder="ciudad de nacimiento" class="form-control" required/>
		</div>
		<div class="form-group">
		<label>Fecha de nacimiento </label>
				<input name="fechanac" type="date" required></input>
		</div>
		<div class="form-group">
		<label>Fecha de ingreso </label>
				<input name="fechaingreso" type="date" required></input>
		</div>
		<div class="form-group">
		<label>País de residencia </label>
		  <select class="input-select" type="number" name="paisdomi">
		  <option value="" style="text-align: center">--- Seleccione su país de residencia ---</option>
		    <div th:each="pais: ${pais}">
				<option th:value="${pais.nombre}" th:text="${pais.nombre}"></option>
			</div>
		  </select>
		  </div>
		  <div class="form-group">
		    <label>Ciudad de residencia</label>
			<input name="ciudaddomi" type="text" placeholder="ciudad de residencia" class="form-control" required/>
		</div>
		<div class="form-group">
		    <label>Dirección de residencia</label>
			<input name="direcciondomi" type="text" placeholder="Dirección de residencia" class="form-control" required/>
		</div>
		<div class="form-group">
		    <label>Barrio de residencia</label>
			<input name="barriodomi" type="text" placeholder="Barrio de residencia" class="form-control" required/>
		</div>
		<div class="form-group">
		    <label>Teléfono celular</label>
			<input name="celular" type="text" placeholder="No. de Celular" class="form-control" required/>
		</div>
		<div class="form-group">
		    <label>Correo electrónico</label>
			<input name="correo" type="text" placeholder="Correo electrónico" class="form-control" required/>
		</div>
		<div class="form-group">
		    <label>Ocupación</label>
			<input name="ocupacion" type="text" placeholder="Ocupación" class="form-control" required/>
		</div>
		<div class="form-group">
		<label>Eps de afiliación</label>
		  <select class="input-select" type="number" name="eps">
		  <option value="" style="text-align: center">--- Seleccione su EPS ---</option>
		    <div th:each="eps: ${eps}">
				<option th:value="${eps.nombre}" th:text="${eps.nombre}"></option>
			</div>
		  </select>
		  </div>
		  <div class="form-group">
		    <label>Tipo afiliación</label>
			<input name="tipoafiliacion" type="text" placeholder="Tipo de afiliación" class="form-control" required/>
		</div>
		<div class="form-group">
		    <label>Poliza de seguros</label>
			<input name="poliza" type="text" placeholder="Poliza" class="form-control" required/>
		</div>
		<div class="form-group">
		    <label>Contraseña</label>
			<input name="password" type="text" placeholder="Contraseña" class="form-control" required/>
		</div>
		<div class="form-group">
		    <label>Foto: </label>
            <input type="file" name="file" class="mb-2" accept="image/*">
		</div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Agregar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
      </div>
    </div>
  </div>
</div>
</form>
</div>	
</div>
</div>
</div>
	 <footer id="footer" style="position:absolute;bottom:0;width: 100%;">
		<div class="container">
				<div class="col-md-12 text-center">
					<span class="copyright" style="color:white">
						 Adulam Store © 2022     ||     Todos los derechos reservados
					</span>
				</div>
		</div>
	</footer>

   <script th:src="@{/js2/script.js}"></script>
   <script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
   <script th:src="@{/js/popper.min.js}"></script>
   <script th:src="@{/js/bootstrap.min.js}"></script>
   <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
   <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  
  <script type="text/javascript" th:inline="javascript">
       $(document).ready(function(){
	      $(".xp-menubar").on('click',function(){
		    $("#sidebar").toggleClass('active');
			$("#content").toggleClass('active');
		  });
		  
		  $('.xp-menubar,.body-overlay').on('click',function(){
		     $("#sidebar,.body-overlay").toggleClass('show-nav');
		  });
		  
	   });
  </script>
  </body>
  </html>